body{

    background-color: #3d3d3d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    padding: 15px;

}

nav a:visited{

    text-decoration: none;
    color: #ffffff;

}

nav a{

    text-decoration: none;
    color: #ffffff;
    transition: transform 0.2s ease;

}

nav a:hover{

    transform: scale(1.05);

}

nav{

    display: flex;
    font-size: 20px;
    gap: 1vh;

}

.logo{

    width: 30px;

}



footer a{

    text-decoration: none;
    color: #ffffff;
    transition: transform 0.2s ease;

}

footer a:hover{

    transform: scale(1.05);

}

footer a:visited{

    text-decoration: none;
    color: #ffffff;

}

footer{

    display: flex;
    font-size: 20px;
    gap: 1vh;
    

}